<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        <style>

</style>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" >
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" href="{{url_for('static', filename='style/started.css') }}" >
       <style >
        body{
         background-image: url("{{ url_for('static', filename='image/pexels-leonardo-vazquez-3591570.jpg')}}");
       }
       </style>
  
    </head>
    <body id="e1" style="height: 100%; width: 100%">
<center>
<div style="width:45%; margin-top: 5%">
  {% if None == dep %}
    <form action = "/ADD_student" method = "POST" enctype = "multipart/form-data">
  {% else %}
  <form action = "/ADD_student/{{dep}}" method = "POST" enctype = "multipart/form-data">
    {% endif %}
  <div class="form-group">
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="name1" type="text" placeholder="اسم الطالب"><br>
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="name2" type="text" placeholder="اسم الاب و الجد"><br>
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="email" type="email" placeholder="البريد الالكتروني للطالب"><br>
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="ph_num" type="number" placeholder="رقم الهاتف"><br>
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="date_time" type="date" placeholder="تاريخ المباشرة"><br>
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="address" type="text" placeholder="العنوان"><br>
    {% if None != dep %}
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="department" type="text" value="{{dep}}" placeholder="القسم"><br>
    {% else %}
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="department" type="text"  placeholder="القسم"><br>
    {% endif %}
    <input style="text-align: right;" required="required" class="form-control form-control-lg" name="level" type="text" placeholder="المرحلة"><
  </div>
  <button type="submit" class="btn btn-primary">ارسل</button>
</form>
</div>
</center>

  </body>

</html>