{% extends "admin_sections.html" %}
         {% block body %}
<div >
<br>
    <center>
		<b><h1>ارسال بريد</h1></b>
		<div style="width: 45%; ">
		    <form action = "/route_page/send" method = "POST" enctype = "multipart/form-data">
		        <div class="custom-file">
		          <input type="file" class="custom-file-input" name ="file" id="customFile">
		          <label class="custom-file-label" for="customFile">ارسال بريد</label>
		        </div>
		        <br>
		          <input type="hidden" class="form-control" required name="From" value="Admin" placeholder="من" >
		          <br>
		          <input type="text" class="form-control" required name="name" placeholder="اسم الكتاب" >
		          <br>
		          <input type="text" list="browsers" class="form-control" required name="To" placeholder="الى" >
		              <datalist id="browsers">
		              <option  value="هندسة تقنيات الحاسوب" />
		              <option  value="هندسة الاجهزة الطبية" />
		              <option  value="طب الاسنان" />
		              <option  value=" لغة العربية" />
		              <option  value="قانون" />
		              <option  value="تحليلات" />
		              </datalist>
		              <br>
		        <button type="submit" class="btn btn-primary" style="background: blue">ارسل </button>
		        <br>
		        <br>
		    </form>
		</div>
	</center>
</div>

       {% endblock %}