<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        <style>
          option,datalist,input{
            text-align: right;
          }
        </style>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" >
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" href="{{url_for('static', filename='style/started.css') }}" >
       <style >
        body{
         background-image: url("{{ url_for('static', filename='image/pexels-leonardo-vazquez-3591570.jpg')}}");
       }
       </style>
  
    </head>
    <body id="e1" style="height: 100%; width: 100%">


<center>
  <div style="width: 85%; padding: 1% ">
  <div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><button type="button"   onclick="Function7()" class="btn btn-success">البريد الوارد</button></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function6()" class="btn btn-success">البريد الصادر</button></h5>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function()" class="btn btn-success">معلومات التدريسين</button></h5>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function4()" class="btn btn-success">البحث عن كتاب</button></h5> 
      </div>
    </div>
  </div>
</div>
</center>


<center>
  <div style="width: 85%; padding: 1% ">
  <div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><button type="button"   onclick="Function3()" class="btn btn-success">رفع كتاب</button></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function2()" class="btn btn-success">اضافة بيانات التدريسين</button></h5>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function1()" class="btn btn-success">رفع كتاب شكر</button></h5>
        
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function0()" class="btn btn-success">ارسال بريد</button></h5>
        
      </div>
    </div>
  </div>
</div>
</center>

{% if inf == 'send' %}
<center>
   <div style="width: 45%; ">
    <form action = "send" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">ارسال بريد</label>
        </div>
          <input type="hidden" class="form-control" required name="From" value="الاقسام الادارية" placeholder="من" >
          <input type="text" class="form-control" required name="name" placeholder="اسم الكتاب" >
          <input type="text" list="browsers" class="form-control" required name="To" placeholder="الى" >
              <datalist id="browsers">
              <option  value="هندسة تقنيات الحاسوب" />
              <option  value="هندسة الاجهزة الطبية" />
              <option  value="طب الاسنان" />
              <option  value=" لغة العربية" />
              <option  value="قانون" />
              <option  value="تحليلات" />
              </datalist>
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'book' %}
<center>
   <div style="width: 45%;">
    <form action = "Administrative_unit/book" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">كتاب شكر</label>
        </div>
          <input type="text" class="form-control" required name="name" placeholder="اسم التدريسي" >
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'techer_inf' %}
<center>
   <div style="width: 45%;">
    <form action = "Administrative_unit/." method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">رفع ملف</label>
        </div>
          <input type="date" class="form-control" required name="type_file" >
          <input type="text" class="form-control" required name="type_file" placeholder="اسم التدريسي" >
          <input type="text" class="form-control" required name="type_file" placeholder="ملاحظات" >
          <select style="width: 45%" id="cars" name="cars">
            <option value="1">اجازة</option>
            <option value="2">عقوبة</option>
            <option value="3">كتاب شكر</option>
          </select><br>
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'upl_book' %}
<center>
   <div style="width: 45%;">
    <form action = "Administrative_unit/." method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">رفع ملف</label>
        </div>
          <input type="date" class="form-control" required name="type_file" >
          <input type="number" class="form-control" required name="type_file" placeholder="رقم الكتاب" >
          <input type="text" class="form-control" required name="type_file" placeholder="العنوان" >
          <input type="text" class="form-control" required name="type_file" placeholder="من" >
          <input type="text" class="form-control" required name="type_file" placeholder="الى" >
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'ser_book' %}
<center>
   <div style="width: 45%;">
    <form action = "Administrative_unit/." method = "POST" enctype = "multipart/form-data">
          <input type="text" class="form-control" required name="type_file" placeholder="رقم الكتاب او عنوان الكتاب" >
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% endif %}






 <script>
  
        function Function0() {
              window.location.href = "http://127.0.0.1:5000/Administrative_unit/send";
              //window.location.replace("http://127.0.0.1:5000/Administrative_unit/send");
             // window.open("http://127.0.0.1:5000/Administrative_unit/send");
        }
        function Function1() {
             window.location.replace("http://127.0.0.1:5000/Administrative_unit/book");
        }
        function Function2() {
              window.location.replace("http://127.0.0.1:5000/Administrative_unit/techer_inf");
        }
         function Function3() {
              window.location.replace("http://127.0.0.1:5000/Administrative_unit/upl_book");
        }
        function Function4() {
              window.location.replace("http://127.0.0.1:5000/Administrative_unit/ser_book");
        }
        function Function6() {
             window.location.replace("http://127.0.0.1:5000/send_file/الاقسام الادارية");
        }
        function Function7() {
             window.location.replace("http://127.0.0.1:5000/received_file/الاقسام الادارية");
        }
  </script>
  </body>

</html>