{% extends "admin_sections.html" %}
         {% block body %}
         <center>
            <h1>كلية الحكمة الجامعة</h1>
            <br>
            <div>
                <nav>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                          <input type="radio" value="delete" id="a1" onclick="a1()" autocomplete="off"> حذف
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" value="upload" id="a2" onclick="a2()" autocomplete="off"> تعديل كلمة المرور
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio"value="search" id="a3" onclick="a3()" autocomplete="off"> بحث
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" value="insert" id="a4" onclick="a4()" autocomplete="off" checked> اضافة حساب                           </label>
                      </div>
                </nav>
            </div><br>
            <h2 id="write"></h2>
            <div>
        <form action = "/admin" method = "POST" enctype = "multipart/form-data">
         
         <!--<select name="type"style="width:300px; " >
                <option value="insert">اضافة حساب</option>
                <option value="upload">تعديل كلمة المرور</option>
                <option value="delete">حذف</option>
                <option value="search">بحث</option>
              </select>--><br>
              <div id="input3">
              <select name ="department" style="width:300px;" >
                 <option value="هندسة تقنيات الحاسوب">هندسة تقنيات الحاسوب</option>
                          <option value="طب الاسنان">طب الاسنان</option>
                          <option value="قسم القانون">قسم القانون</option>
                          <option value="اللغة العربية">اللغة العربية</option>
                          <option value="هندسة الاجهزة الطبية5">هندسة الاجهزة الطبية</option>
                          <option value="التحليلات المرضية">التحليلات المرضية</option>
                          <option value="قسم الاسلامية">قسم الاسلامية</option>
              </select><br><br>
              <select name ="le_el" style="width:300px;" >
                 <option value="1234">رئيس فسم</option>
                          <option value="123">مقرر القسم</option>
                          <option value="12">موظف</option>
              </select><br><br></div>
         <input type = "text" name = "username" required placeholder="اسم المستخدم" style="width:300px;"><br><br>
         <div id="input2">
         <input type = "password" name = "data" id="pass" required onload="a12()" placeholder="كلمة المرور" style="width:300px; display:block;"><br>
         <input type = "password" id="pass2" required placeholder="تاكيد كلمة المرور"  onkeyup="a12()" style="width:300px; "><br><br>
         <input type="hidden" name="type" id="input1" value="insert" style="width:300px;">
          </div>
        <div class="col" id="put" ><button type="submit" class="btn btn-primary">ادخال</button></div>
         </form>
         </div>
           </center>
            <p id="ret"><p>
            <p id="ret3"><p>
       {% endblock %}

    {% block script %}
     <script src="{{url_for('static', filename='style/admin_add_acc.js') }}"></script>
    {% endblock %}