{% extends "login_page.html" %}
         {% block body %}
        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" href="{{url_for('static', filename='style/started.css') }}" >
       <style >
        body{
         background-image: url("{{ url_for('static', filename='image/pexels-leonardo-vazquez-3591570.jpg')}}");
       }
       </style>
  
    </head>
    <body id="e1" style="height: 100%; width: 100%">


<center>
  <div style="width: 85%; padding: 1% ">
  <div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><button type="button"   onclick="Function7()" class="btn btn-success">البريد الوارد</button></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function6()" class="btn btn-success">البريد الصادر</button></h5>
        
      </div>
    </div>
  </div>
</div>
</center>


<center>
  <div style="width: 85%; padding: 1% ">
  <div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><button type="button"   onclick="Function3()" class="btn btn-success">رفع كتاب</button></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function2()" class="btn btn-success">اضافة بيانات التدريسين</button></h5>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function0()" class="btn btn-success">ارسال بريد</button></h5>
        
      </div>
    </div>
  </div>
</div>
</center>

{% if inf == 'send' %}
<center>
   <div style="width: 45%; ">
    <form action = "send" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">ارسال بريد</label>
        </div>
          <input type="hidden" class="form-control" required name="From" value="الاقسام الادارية" placeholder="من" >
          <input type="text" class="form-control" required name="name" placeholder="اسم الكتاب" >
          <input type="text" list="browsers" class="form-control" required name="To" placeholder="الى" >
              <datalist id="browsers">
              <option  value="هندسة تقنيات الحاسوب" />
              <option  value="هندسة الاجهزة الطبية" />
              <option  value="طب الاسنان" />
              <option  value=" لغة العربية" />
              <option  value="قانون" />
              <option  value="تحليلات" />
              </datalist>
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>

{% elif inf == 'techer_inf' %}
<center>
   <div style="width: 45%;">
    <form action = "" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">رفع ملف</label>
        </div>
          <input type="date" class="form-control" required name="time" >
          <input type="text" class="form-control" required name="name" placeholder="اسم التدريسي" >
          <input type="text" class="form-control" required name="note" placeholder="ملاحظات" >
          <input type="text" class="form-control" list="id32" required name="Type" placeholder="نوع الملف" >
           <datalist id="id32">
              <option  value="اجازة" />
              <option  value="عقوبات" />
              <option  value="كتب شكر" />
              </datalist>
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'upl_book' %}
<center>
   <div style="width: 45%;">
    <form action = "/Administrative_unit/upl_book" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">رفع ملف</label>
        </div>
          <input type="date" class="form-control" required name="type_file" >
          <input type="number" class="form-control" required name="type_file" placeholder="رقم الكتاب" >
          <input type="text" class="form-control" required name="type_file" placeholder="العنوان" >
          <input type="text" class="form-control" required name="type_file" placeholder="من" >
          <input type="text" class="form-control" required name="type_file" placeholder="الى" >
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% elif inf == 'ser_book' %}
<center>
   <div style="width: 45%;">
    <form action = "/Administrative_unit/book" method = "POST" enctype = "multipart/form-data">
          <input type="text" class="form-control" required name="type_file" placeholder="رقم الكتاب او عنوان الكتاب" >
        <button type="submit" class="btn btn-primary">رفع</button>
    </form>
  </div>
</center>
{% endif %}






 <script>
  
        function Function0() {
              window.location.href = "/Administrative_unit/send";
              //window.location.replace("/Administrative_unit/send");
             // window.open("/Administrative_unit/send");
        }
        function Function2() {
              window.location.replace("/Administrative_unit/techer_inf");
        }
         function Function3() {
              window.location.replace("/Administrative_unit/upl_book");
        }
        function Function6() {
             window.location.replace("/send_file/الاقسام الادارية");
        }
        function Function7() {
             window.location.replace("/received_file/الاقسام الادارية");
        }
  </script>
{% endblock %}