{% extends "login_page.html" %}
         {% block body %}
        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/sia.css') }}">
  
    </head>
    <body>
      <center>><div style="width: 60%;">
      {% for n in d %}
      <div class="card mb-3">
        <img src="{{room[n-1].pathimage}}" class="card-img-top" alt="No image">
        <div class="card-body">
          <h5 class="card-title"><a href="post1/{{room[n-1].userid}}"> {{room[n-1].room_name}}</h5></a>
          <p class="card-text"><small class="text-muted">{{room[n-1].department}}</small></p>
        </div>
      </div>
      {% endfor %}
      </div></center>
{% endblock %}