<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" >
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!--Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/login.css') }}">
    </head>
    <body>
        <center></center><!--<img src="{{ url_for('static', filename='image/aaa.png') }}" style=" border-radius: 50%;top: 25%;left: auto;right: 30px;margin: -150px 0 0 -150px;" >-->
        <div class="login">
    <h1>Login</h1>
    <form action = "/login" method = "POST" enctype = "multipart/form-data">
        <input type="text" name="username" placeholder="username" required="required" />
        <input type="password" name="password" placeholder="password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Login.</button>
    </form><br>
         {{e}}

    </body>
</html>