{% extends "login_page.html" %}
         {% block body %}
        <!-- Custom css for chat pages  
        <link rel="stylesheet" href="{{url_for('static', filename='style/started.css') }}" > -->
       <style >
        body{
         background-image: url("{{ url_for('static', filename='image/pexels-leonardo-vazquez-3591570.jpg')}}");
       }
       input{
        text-align: right;
       }
       </style>
  
    </head>
    <body id="e1" style="height: 100%; width: 100%">
      <br>
<h1 style="left: 100% ;text-align: center;color:#fff">{{inf_dep}}</h1>

<br>

<center>
  <div style="width: 85%;">
  <div class="card-deck" >
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><button type="button"   onclick="Function()" class="btn btn-success"> انتقل</button></h5>
        <p class="card-text">البريد الوارد</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function1()" class="btn btn-success"> انتقل</button></h5>
        <p class="card-text">اضافة معلومات طالب </p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function2()" class="btn btn-success"> انتقل</button></h5>
        <p class="card-text">البحث عن معلومات الطلاب</p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><button type="button"  onclick="Function3()" class="btn btn-success"> انتقل</button></h5>
        <p class="card-text">البريد الصادر</p>  
      </div>
    </div>
  </div>
</div>
</center>

<center>
       <b> <h1>ارسال بريد</h1> </b>
   <div style="width: 45%; ">
    <form action = "/SEND_uint" method = "POST" enctype = "multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" name ="file" id="customFile">
          <label class="custom-file-label" for="customFile">ارسال بريد</label>
        </div>
        <br>
          <input type="hidden" class="form-control" required name="From" value="{{inf_dep}}" placeholder="من" >
          <br>
          <input type="text" class="form-control" required name="name" placeholder="اسم الكتاب" >
          <br>
          <input type="text" list="browsers" class="form-control" required name="To" placeholder="الى" >
              <datalist id="browsers">
              <option  value="هندسة تقنيات الحاسوب" />
              <option  value="هندسة الاجهزة الطبية" />
              <option  value="طب الاسنان" />
              <option  value=" لغة العربية" />
              <option  value="قانون" />
              <option  value="تحليلات" />
              </datalist>
              <br>
        <button type="submit" class="btn btn-primary" style="background: blue">ارسل </button>
        <br>
        <br>
    </form>
  </div>
</center>


<center>
  <div style="width: 85%">
    <table class="table table-dark" >
      <thead>
        <tr>
          <th scope="col">المرحلة</th> .
          <th scope="col">القسم</th>
          <th scope="col">العنوان</th>
          <th scope="col">رقم الهاتف</th>
          <th scope="col">الايميل</th>
          <th scope="col">وقت المباشرة</th>
          <th scope="col">اسم الاب و الجد</th>
          <th scope="col">اسم الطالب</th>
          <th scope="col">^</th>
        </tr>
      </thead>
      <tbody>
        {% for n in data %}
        <tr>
          <td>{{n.level}}</td>.
          <td>{{n.department}}</td>
          <td>{{n.Address}}</td>
          <td>{{n.phonenumber}}</td>
          <td>{{n.Email}}</td>
          <td>{{n.Direct_Date}}</td>
          <td>{{n.lestname}}</td>
          <td><a href="/Add_Degree">{{n.firstname}}</a></td>
          <th scope="row">></th>
        </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>
</center>



  <script>
        function Function() {
              window.location.replace("/received_file/{{inf_dep}}");
        }
        function Function1() {
              window.location.replace("/ADD_student/{{inf_dep}}");
        }
        function Function2() {
              window.location.replace("/search_student/{{inf_dep}}");
        }
        function Function3() {
              window.location.replace("/send_file/{{inf_dep}}");
        }
         function Function6() {
              window.location.replace("/Add_Degree");
        }
  </script>
{% endblock %}


