<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  color:blue;
  background-color: black;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td , h1{
	color:red;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" >
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/sia.css') }}">
  
    </head>
    <body><br>
    	<center><h1>معلومات الطلبة</h1></center>
    	<br>
    	<center> <form action = "/SIS" method = "POST" enctype = "multipart/form-data">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search">search</i></button>
    </form>
    	<br>
         <div>
         	<center>
         	<table>
			  <tr>
			  	<th>firstname</th>
			  	<th>lestname</th>
			  	<th>Email</th>
			  	<th>phonenumber</th>
			  	<th>Address</th>
			  	<th>City</th>
			  	<th>department</th>
			  	<th>level</th>
			  </tr>
			    {% for n in info %}
			    <tr>
			    <td><a href="/SDI/{{n.id}}">{{n.firstname}}</a></td>
			    <td>{{n.lestname}}</td>
			    <td>{{n.Email}}</td>
			    <td>{{n.phonenumber}}</td>
			    <td>{{n.Address}}</td>
			    <td>{{n.City}}</td>
			    <td>{{n.department}}</td>
			    <td>{{n.level}}</td>
			     </tr>
			    {% endfor %}
			</table>
			</center>

         </div>
    </body>
</html>