<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        <style>

</style>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" >
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!-- Custom css for chat pages  -->
        <link rel="stylesheet" href="{{url_for('static', filename='style/started.css') }}" >
       <style >
        body{
         background-image: url("{{ url_for('static', filename='image/pexels-leonardo-vazquez-3591570.jpg')}}");
       }
       </style>
  
    </head>
    <body id="e1" style="height: 100%; width: 100%;">

<div style="padding-right: 1%">
  <p style="font-size:30px ;color: #fff ;text-align: center">الطلاب -- الاساتذة -- الاقسام </p>
    <p style="font-size:50px ;text-align: center;color: #fff">{{count[2]}} -- {{count[1]}} -- {{count[0]}}</p>
</div>
<br>
<center>
  <div style="width: 50%; padding: 20px 0" >

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">هندسة تقنيات الحاسوب</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function1()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">طب الاسنان</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function2()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">هندسة تقنيات الاجهزة الطبية </div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function3()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">العربي</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function4()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">القانون</div>
        <div class="card-body">
          <h5 class="card-title"><button   class="btn btn-secondary" onclick="Function5()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <br>
    
    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem ">
        <center><div class="card-header">الاسلامية</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function6()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
  </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">تحليلات</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function7()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">اضافة قسم جديد</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function8()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">الاساتذة</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function9()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div style="display: inline-block;">
      <div class="card text-white bg-dark mb-3" style="width: 15rem;">
        <center><div class="card-header">اضافة طالب جديد</div>
        <div class="card-body">
          <h5 class="card-title"><button type="button"  class="btn btn-secondary " onclick="Function10()">انتقل</button></center></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

  </div>
</center>



<div>
  

</div>

<script>

                function Function1() {
                  window.open("http://127.0.0.1:5000/depar/هندسة تقنيات الحاسوب");
                }
                function Function2() {
                  window.open("http://127.0.0.1:5000/depar/طب الاسنان");
                }
                function Function3() {
                  window.open("http://127.0.0.1:5000/depar/هندسة تقنيات الاجهزة الطبية ");
                }
                function Function4() {
                  window.open("http://127.0.0.1:5000/depar/العربي");
                }
                function Function5() {
                  window.open("http://127.0.0.1:5000/depar/القانون");
                }
                function Function6() {
                  window.open("http://127.0.0.1:5000/depar/الاسلامية");
                }
                function Function7() {
                  window.open("http://127.0.0.1:5000/depar/تحليلات");
                }
                function Function8() {
                  window.open("http://127.0.0.1:5000/ADD_Depa");
                }
                function Functionstop() {
                  window.open("http://127.0.0.1:5000/ADD_teacher");
                }
                 function Function9() {
                  window.open("http://127.0.0.1:5000/show_teacher");
                }
                function Function10() {
                  window.open("http://127.0.0.1:5000/ADD_student");
                }
                sessionStorage.setItem("id", '{{info[0]}}');
                sessionStorage.setItem("name", '{{info[1]}}');
                sessionStorage.setItem("department", '{{info[2]}}');
                var room=sessionStorage.getItem("department");
                document.getElementById("h2").innerHTML = room;
                document.getElementById("department").value= room;
                window.alert(room)
</script>

</body>

</html>